:root {
    --color: ;
    --hslColor1: hsla(0deg, 50%, 0%, .2);
    --hslColor2: hsla(200deg, 100%, 50%, .9);
    --hslColor3: white;
    --hslColor4: white;
    /* --bgColor: hsla(0, 1%, 0%, 0.9); */
    --bgColor: white;
}