
.containerNav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    /* margin: 0.5rem; */
    background: hsl(550, 80%, 30%);
    height: 5em;
    width: 20em;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    border-radius: 30px;
    transition-duration: 1s;
}

.iconNav {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    border-radius: 15px;
    transition-duration: 0.5s;

}

.iconNav:hover {
    font-size: 1.5rem;
    background: hsl(600, 80%, 30%);

    color: white;

}

.containerNav:hover{
    font-size: 1.2rem;
}
