@import url(../../config/config.css);



div .container_start {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome {
    margin: 3em;
    text-align: center;
    letter-spacing: 2px;
    letter-spacing: 5px;
    font-size: 2.2ch;

}

.image {
    position: relative;
    border-radius: 50%;
}

.welcome p {
    width: 50vw;
    text-align: center;
}

.start_img div {
    position: relative;
    bottom: 0;
    /* width: 25vh; */
    height: 5vh;
    border-radius: 50%;
    background-color: var(--hslColor2);
}

.start_img {
    /* display: flex; */
    height: 50vh;
}